/* Main CSS for Plan MKE Site */

/* Basic settings */
* {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    margin: 15px;

}

span {
    font-size: large;
    letter-spacing: 0.15em;
    font-size: 14pt;
    color: #CCB166;
    font-weight: bolder;
}

img {
    margin-bottom: 10px;
    max-width: 90vw;
    height: auto;
}

.center {
    position: fixed;
    top: 40%;
    left: 50%;
    text-align: center;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
