/* Main CSS for Plan MKE Site */

/* Basic settings */
* {
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

/* Global Formats */

.center {
    text-align: center;
}

.subtext {
    font-size: 1.2em;
    letter-spacing: 0.07em;
    color: rgb(117, 117, 117);
}

/* Set grid class */
.grid {
    display: grid;
}

/* Home (Hero) */
.home {
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    background: url(/img/table-test2_dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    row-gap: 175px;
}

.title-text {
    color: white;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
    padding: 10px 0;
}

hr.title-line {
    margin: 0 auto;
    width: 200px;
    border: none;
    height: 1px;
    color: white; /* old IE */
    background-color: white; /* Modern Browsers */
}

.nav-bar {
    grid-template-columns: 8fr repeat(4, 1fr);
    padding-top: 25px;
}

.nav-item {
    font-size: 0.9rem;
    letter-spacing: 0.18em;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

/* About */
.about {
    background-color: #E6E6E6;
    padding: 2em;
    letter-spacing: 0.07em;
    font-family: 'Raleway', sans-serif;
    grid-template-rows: auto 1fr;
    row-gap: 25px;
}

.about-content {
    font-size: 1.2rem;
}

hr.about-line {
    width: 300px;
    border: none;
    height: 1px;
    color: grey; /* old IE */
    background-color: grey; /* Modern Browsers */
}

/* Social */
.social {
    padding: 2em;
    font-family: 'Raleway', sans-serif;
    grid-template-columns: 1fr;
}

.social-callout {
    grid-template-rows: auto 1fr;
    row-gap: 20px;
}

.social-links {
    grid-template-columns: auto auto auto;
    align-content: start;
    text-align: center;
    justify-content: center;
}

.social-links > .line {
    border-right: black solid 2px;
}

.social-title {
    text-align: center;
}

.fab {
    padding: 0 30px;
}

.fab:hover {
    opacity: 0.75;
}

@media only screen and (max-width: 1000px) {
    .nav-bar {
        grid-template-columns: 0fr repeat(4, 1fr);
    }

    .slogan {
        font-size: 1.5em;
    }
}